<template lang="pug">
    b-container(style="min-width: 100%")
        b-row.header-bar
            b-col.col-sm-10.col-lg-11
                p Logooo?
            b-col.col-sm-2.col-lg-1.side-borders
                router-link(to="/login")
                    i.fa.fa-sign-in-alt.fa-lg
</template>

<script>
export default {
    name: 'HeaderBar'
}
</script>

<style>
    .header-bar {
        height: 50px;
        background-color: #f5fbff;

        /* Some browsers do not support opacity declaration. */
        border: 1px solid rgba(127, 0, 0);
        border: 1px solid rgba(255, 0, 0, .5);
        border-color: #dde4eb;

        /* For Safari */
        -webkit-background-clip: padding-box;
        /* For IE9+, Firefox 4+, Opera, Chrome */
        background-clip: padding-box;
    }

    .side-borders {
        border-right: 1px solid rgba(127, 0, 0, .5);
        border-right: 1px solid rgba(255, 0, 0, .5);
        border-right-color: #dde4eb;

        border-left: 1px solid rgba(127, 0, 0, .5);
        border-left: 1px solid rgba(255, 0, 0, .5);
        border-left-color: #dde4eb;
    }
</style>
