<template lang="pug">
    sidebar-menu(:menu="menu" :width="width" @collapse="onCollapse")
        span(slot="collapse-icon")
            i.fa.fa-arrows-alt-h
        span(slot="dropdown-icon")
            i.fa.fa-chevron-right
</template>

<script>
export default {
    data () {
        return {
            width: '150px',
            menu: [
                {
                    header: true,
                    title: 'Pages'
                },
                {
                    href: '/',
                    title: 'Home',
                    icon: 'fa fa-user'
                },
                {
                    href: '/about',
                    title: 'About',
                    icon: 'fa fa-address-card'
                }
            ]
        }
    },
    methods: {
        onCollapse (collapsed) {
            this.$emit('toggleSidebar', collapsed)
        }
    }
}
</script>
