<template lang="pug">
    div#app
        vue-sidebar-menu(@toggleSidebar="toggleSidebar")
        header-bar
        router-view#view
</template>

<script>
import HeaderBar from './components/HeaderBar.vue'
import VueSidebarMenu from './components/SidebarMenu'

export default {
    name: 'App',
    components: {
        'header-bar': HeaderBar,
        'vue-sidebar-menu': VueSidebarMenu
    },
    methods: {
        toggleSidebar (collapsed) {
            if (!collapsed) {
                document.getElementById('view').style.marginLeft = '150px'
            } else {
                document.getElementById('view').style.marginLeft = '50px'
            }
        }
    }
}
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }

    #view {
        margin-left: 150px;
        -webkit-transition: margin-left 0.22s ease-in-out;
        -moz-transition: margin-left 0.22s ease-in-out;
        -o-transition: margin-left 0.22s ease-in-out;
        transition: margin-left 0.22s ease-in-out;
    }
</style>
